* {
    margin:0;
     box-sizing:border-box;
  }
body {
     background-image: linear-gradient(to right,rgb(25, 72, 92),rgb(9, 47, 63));
     cursor:default;
     color:red;
     height:auto;
}
header {
    width:100%;
     background-image: linear-gradient(to bottom,rgb(169, 209, 224),rgba(9, 47, 63));
    text-align:center;
    padding:20px;
    box-shadow: 0px 0px 145px rgb(17, 12, 25);
    border:0px solid black;
     box-sizing:border-box;
    z-index:-1;
     
 
}
header p, header h1{
    padding-bottom:15px;
}
header p {
    display:inline-block;
    position: relative;
    color:red;
    text-shadow:0px 0px 8px black, 0px -2px 5px black;
    font-style: italic;
}
header h1 {
    text-shadow:0px 0px 4px rgb(244, 239, 239);
    text-decoration: underline;
    color:black;
    font-style: italic;

}
/* p::after {
    content: "Check console for errors.";
    color:rgb(21, 19, 19);
    position:absolute;
    left:1px;
    opacity:.4;
    width:110%;
    padding:9px 0px 0px 3px;
font-style: italic;
      
      }
      */ 

div.info  {
 
    text-align:center;
      width:50%;
    margin:auto;
    margin-top:20px;
    position:relative;
    border:3px solid white;
    outline:6px solid black;
    height:100%;
    margin-bottom:50px;
    


    }
div.info h2 {
    box-shadow:0px 0px 5px black;
    border:0px solid black;
     font-size: 30px;
    background-color: black;
    color:white;
    border-bottom:1px solid red;
    padding:5px;
    
    
     
 }

 div.info img {
    width:100%;
    height:300px;
     box-shadow:0px 0px 5px black;
    overflow:hidden;
    box-sizing:border-box;
    padding:7px;
    /*background-image: radial-gradient(red,red,yellow);*/
    background-color:black;

 }
 div.info img#pic1 {
    display:inline-block;
 }
 div.info img#pic2 {
    display:none;
 }
 div.info h3 {
    padding:10px;
    background-color: black;
    color:white;
    border-top:1px solid red;
 }

 div.info h2, div.info h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 }
 h3#YO {
    display:block;
    background-color: black;
 }
 h3#YO2 {
    display:none;
    background-color: black;

 }

 hr {
    padding:4px;
    background-color:rgb(151, 217, 243);
    border:0px solid white;
    margin:auto;
    box-shadow:0px 1px 5px black;
    box-shadow: 2px 2px 5px black inset;
    border: 0px solid black;
    border-radius: 50%;
    position:relative;
    top:-10px;

 }
#hr1 {
    width: 100%;
    margin-top:4px;
    opacity:1;
    
}
#hr2 {
    width:75%;
    margin-top:4px;
    opacity:.8;



}
#hr3 {
    width: 60%;
    margin-top:4px;
    opacity:.6;


}
#hr4 {
    width: 45%;
    margin-top:4px;
    opacity:.4;


}
#hr5 {
    width: 30%;
    margin-top:4px;
    opacity:.2;


}
#hr6 {
    width: 15%;
    margin-top:4px;
    opacity:.1;


}

footer {
    width:100%;
    height:auto;
    background-color: black;
     border-top:2px dashed white;
      

   


}

footer div {
    text-align:center;
   padding:20px;
   padding-bottom:40px;
    width:100%;
     
    
     
}
 
button {
     padding:10px;
     width:150px;
     margin-left:70px;
     margin-right:70px;
     margin-top:10px;
     margin-bottom:10px;
    border:1px solid white;
    color:white;
    background-color: black;
    border-radius: 50% 15%;
    font-size: 25px;
    cursor:pointer;
    font-family: cursive;
    display:inline-block;
    transform: translate(0px,0px);
     
 }

 button#button11, button#button22, button#button33, button#button44 {
    display:none;
 }

 button:hover, button:active {
    background-color:white;
    border:1px solid black;
    color:black;
 }
 button:active {
    color:red;
    outline:3px solid red;
 }
  


 
